<form method="post" action="{{ path('compagnie_aeriennes_delete', {'id': compagnie_aerienne.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compagnie_aerienne.id) }}">
    <button class="btn">Delete</button>
</form>
