{% extends 'base.html.twig' %}

{# {% block title %}New CompagnieAeriennes{% endblock %} #}

{% block body %}
    {# <h1>Create new CompagnieAeriennes</h1> #}

    {{ include('compagnie_aeriennes/_form.html.twig') }}

    {# <a href="{{ path('compagnie_aeriennes_index') }}">back to list</a> #}
{% endblock %}
